/node_modules
/wwwroot
/dist
*.vsix
/js/libs
.env
.env.*
!.env.example
package-lock.json
fonts/AzDevMDL2.woff
fonts/fabric-icons.woff
fonts/fluent-filled-v1.1.201.woff2
fonts/fluent-regular-v1.1.201.woff2
css/vis-timeline.css
css/azure-devops-ui.css
fonts/fluent-filled-v1.1.293.woff2
fonts/fluent-regular-v1.1.293.woff2
