@import "../_variables.less";

.my-timeline {
    position: relative;

    &__root-drop-zone {
        display: none;
        position: fixed;
        z-index: 102;
        min-width: rem(180px);
        padding: rem(6px) rem(12px);
        border: 1px dashed rgba(var(--palette-primary-shade-10, 0, 90, 158), 1);
        border-radius: rem(2px);
        color: var(--text-primary-color);
        background-color: var(--background-color);
        font-size: rem(12px);
        text-align: center;
        pointer-events: auto;

        &--active {
            border-style: solid;
            background-color: rgba(var(--palette-primary-tint-30, 222, 236, 249), 1);
        }
    }

    &__floating-axis {
        display: none;
        position: fixed;
        z-index: 101;
        overflow: hidden;
        pointer-events: none;
        background-color: var(--background-color);
        box-shadow: 0 rem(2px) rem(4px) var(--palette-black-alpha-20, rgba(0, 0, 0, .2));

        &--visible {
            display: block;
        }

        &-content {
            background-color: var(--background-color);
        }
    }

    &--dragging {
        .my-timeline__root-drop-zone {
            display: block;
        }
    }

    &-group {
        font-size: rem(13px);
        font-weight: 400;
        color: var(--text-primary-color);
        display: flex;
        height: rem(30px);
        line-height: rem(30px);
        align-items: center;

        &__icon {
            width: rem(14px);
            margin: 0 rem(5px) 0 0;
        }

        &__dividier {
            flex: 1;
        }

        &__title {
            cursor: pointer;
            white-space: nowrap;
            text-decoration: none;

            &--completed {
                text-decoration: line-through;
            }

            &:hover {
                color: rgba(var(--palette-primary-shade-20,0, 90, 158), 1);
                text-decoration: underline;
            }
        }

        &__tags {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            > div {
                font-size: rem(12px);
                padding: rem(2px) rem(8px);
                background-color: rgba(var(--palette-primary-tint-30, 222, 236, 249), 1);
                color: var(--text-primary-color, rgba(0, 0, 0, .9));
                line-height: rem(16px);
                white-space: nowrap;
                border-radius: rem(10px);
                margin-top: rem(4px);

                + div {
                    margin-left: rem(8px);
                }
            }
        }

        &__state {
            display: inline-block;
            width: rem(8px);
            height: rem(8px);
            border-radius: 50%;
            margin: rem(3px) rem(6px) 0 rem(6px);

            &--square {
                border-radius: rem(2px);
                margin: rem(3px) rem(10px) 0 rem(10px);
            }
        }

        &__content {
            color: var(--text-secondary-color);
            white-space: nowrap;

            &--duration {
                width: rem(70px);
            }
            
            &--dates {
                width: rem(150px);
            }

            &--parent {
                width: rem(300px);
            }
            
            &--iterationpath {
                width: rem(180px);
            }
                        
            &--remainingwork {
                width: rem(65px);
            }

            &--completedwork {
                width: rem(65px);
            }
                        
            &--effort {
                width: rem(65px);
            }

            &--nodename {
                width: rem(180px);
            }
            
            &--areapath {
                width: rem(300px);
            }
            
            &--project {
                width: rem(130px);
            }
            
            &--assignedto {
                width: rem(125px);
            }
        }

        &__button {
            width: rem(24px);
            height: rem(24px);
            color: var(--text-secondary-color);
            visibility: hidden;
            cursor: pointer;
            margin-top: rem(2px);

            > span {
                pointer-events: none;

                &:before {
                    //font-family: @font-family-icons-filled;
                    font-family: @font-family-icons-regular;
                    font-size: rem(16px);
                }
            }

            &--checkbox {
                > span {
                    &:before {
                        //content: "\f290";
                        content: "\eb74";
                    }
                }

                &:hover {
                    > span {
                        &:before {
                            content: "\f27c";
                        }
                    }
                }
            }

            &--edit {
                > span {
                    &:before {
                        content: "\f3dc";
                    }
                }
            }

            &--drag {
                visibility: visible;
                flex: 0 0 rem(24px);
                cursor: grab;
                margin-right: rem(2px);
                touch-action: none;
                user-select: none;

                &:active {
                    cursor: grabbing;
                }
            }

            &--selected {
                visibility: visible;

                &.my-timeline-group__button--checkbox {
                    > span {
                        &:before {
                            content: "\f27c";
                        }
                    }
                }
            }

            &:hover {
                background-color: var(--palette-black-alpha-6,rgba(0, 0, 0, 0.06));
            }
        }

        &:hover {
            .my-timeline-group__button {
                visibility: visible;
            }
        }

        &--drop-before {
            box-shadow: inset 0 rem(2px) 0 rgba(var(--palette-primary-shade-10, 0, 90, 158), 1);
        }

        &--drop-after {
            box-shadow: inset 0 rem(-2px) 0 rgba(var(--palette-primary-shade-10, 0, 90, 158), 1);
        }

        &--drop-inside {
            .my-timeline-group__title {
                background-color: var(--status-success-background, rgba(85, 163, 98, .20));
                border-radius: rem(2px);
                box-shadow: 0 0 0 rem(3px) var(--status-success-background, rgba(85, 163, 98, .20));
            }
        }
    }

    &-item {
    }

    .vis {
        &-timeline {
            border-radius: rem(3px);
            border: 1px solid transparent;
        }

        &-time-axis {
            font-size: rem(12px);

            .vis-text {
                color: var(--text-secondary-color);

                &.vis-saturday,
                &.vis-sunday {
                    color: var(--text-secondary-color);
                }
            }

            .vis-grid {
                &.vis-odd {
                    background: var(--palette-black-alpha-4);
                }

                &.vis-saturday,
                &.vis-sunday {
                    background: rgba(var(--palette-accent1-light));
                }

                &.vis-minor,
                &.vis-major {
                    border-color: var(--component-grid-cell-bottom-border-color, rgba(234, 234, 234, 1));
                }
            }
        }

        &-label {
            display: flex;

            &.vis-group-level-1,
            &.vis-group-level-2,
            &.vis-group-level-3,
            &.vis-group-level-4,
            &.vis-group-level-5,
            &.vis-group-level-6,
            &.vis-group-level-7,
            &.vis-group-level-8 {
                font-size: rem(12px);
                background-color: transparent !important;
                padding: 0 !important;
            }

            &.vis-group-level-1 {
                > .vis-inner {
                    padding: 0 rem(10px) 0 rem(20px) !important;
                }
            }
            
            &.vis-group-level-2 {
                > .vis-inner {
                    padding: 0 rem(10px) 0 rem(40px) !important;
                }
            }
            
            &.vis-group-level-3 {
                > .vis-inner {
                    padding: 0 rem(10px) 0 rem(60px) !important;
                }
            }
            
            &.vis-group-level-4 {
                > .vis-inner {
                    padding: 0 rem(10px) 0 rem(80px) !important;
                }
            }
            
            &.vis-group-level-5 {
                > .vis-inner {
                    padding: 0 rem(10px) 0 rem(100px) !important;
                }
            }
            
            &.vis-group-level-6 {
                > .vis-inner {
                    padding: 0 rem(10px) 0 rem(120px) !important;
                }
            }
            
            &.vis-group-level-7 {
                > .vis-inner {
                    padding: 0 rem(10px) 0 rem(140px) !important;
                }
            }
            
            &.vis-group-level-8 {
                > .vis-inner {
                    padding: 0 rem(10px) 0 rem(160px) !important;
                }
            }

            &.vis-nesting-group {
                &:before {
                    position: absolute;
                    width: rem(16px);
                    height: rem(16px);
                    margin: rem(8px) 0 0 rem(4px);
                    text-align: center;
                    font-size: rem(18px);
                    line-height: rem(14px);
                    border-width: 0;
                    color: var(--text-primary-color);
                    font-weight: 500;
                }
                
                &.vis-group-level-2:before {
                    margin: rem(8px) 0 0 rem(22px);
                }
                
                &.vis-group-level-3:before {
                    margin: rem(8px) 0 0 rem(42px);
                }
                
                &.vis-group-level-4:before {
                    margin: rem(8px) 0 0 rem(62px);
                }
                
                &.vis-group-level-5:before {
                    margin: rem(8px) 0 0 rem(82px);
                }
                
                &.vis-group-level-6:before {
                    margin: rem(8px) 0 0 rem(102px);
                }
                
                &.vis-group-level-7:before {
                    margin: rem(8px) 0 0 rem(122px);
                }
                
                &.vis-group-level-8:before {
                    margin: rem(8px) 0 0 rem(142px);
                }

                &.expanded {
                    &:before {
                        content: "\0203A";
                        transform: rotate(90deg);
                    }
                }
                
                &.collapsed {
                    &:before {
                        content: "\0203A";
                    }
                }
            }
        }

        &-inner {
            flex: 1;
        }

        &-tooltip {
            font-family: @font-family;
            box-shadow: none;
            color: var(--text-secondary-color);
            background-color: rgba(var(--palette-primary-tint-40,239, 246, 252), 1);
            border-width: 0;
            font-size: rem(12px);
            padding: rem(4px) rem(8px);
        }

        &-item {
            font-family: @font-family;
            font-size: rem(12px);
            height: rem(24px);
            border-radius: rem(2px) !important;
            border-color: transparent !important;

            &-content {
                padding: 0 rem(5px) !important;
                line-height: rem(22px);
                z-index: 1;
                overflow: hidden;
                max-width: 100%;
                text-overflow: ellipsis;
                font-size: rem(10px);
            }

            &-visible-frame {
                height: 100%;

                &__progress {
                    height: 100%;
                    position: relative;
                    top: -100%;
                    background: var(--palette-black-alpha-20);
                }
            }
            
            &.vis-dot {
                height: rem(4px);
                border-radius: 50% !important;
            }

            &.vis-selected {
                outline: 2px solid var(--component-grid-focus-border-color);
                outline-offset: 0px;
            }
        }

        &-labelset {
            .vis-label {
                border-bottom: 1px solid var(--component-grid-cell-bottom-border-color, rgba(234, 234, 234, 1));
            }
        }

        &-foreground {
            .vis-group {
                border-bottom: 1px solid var(--component-grid-cell-bottom-border-color, rgba(234, 234, 234, 1));
            }
        }

        &-panel {
            &.vis-center, 
            &.vis-left, 
            &.vis-right, 
            &.vis-top, 
            &.vis-bottom {
                border: 1px var(--component-grid-cell-bottom-border-color, rgba(234, 234, 234, 1));
            }
        }
    }
}
